<main class="wrapper">
  <section class="headers">
    <h1>LISTA DE HEROES</h1>
  </section>
  <section class="container">
    <div class="actions">
      <input class="search" type="text" placeholder="Buscar Héroes..." (input)="onSearch($event)" />
      <button mat-flat-button class="add" (click)="addHero()">AÑADIR</button>
    </div>
    <div class="list">
      @for (hero of paginatedHeroes(); track hero.id) {
        <div class="hero">
          <app-hero [dataHero]="hero" (action)="handleHeroAction($event)"></app-hero>
        </div>
      }
    </div>
    <div class="paginator">
      <mat-paginator
        #paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [length]="heroes$().length"
        [pageSizeOptions]="[5, 10, 25]"
        [pageSize]="pageSize()"
        [pageIndex]="pageIndex()"
        [showFirstLastButtons]="true"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </section>
</main>
