<main class="wrapper">
  <section class="container">
    <mat-card class="card" appearance="outlined">
      <mat-card-header class="headers">
        <mat-card-title>{{ dataHero.alias }}</mat-card-title>
        <mat-card-subtitle>{{ dataHero.name }}</mat-card-subtitle>
      </mat-card-header>
      <div class="image">
        <img mat-card-image [src]="dataHero.imgUrl" alt="Photo of Superheroe" (error)="onImageError($event)" />
      </div>
      <mat-card-footer class="chips">
        <mat-chip-set aria-label="Chihuahua traits">
          @for (pw of dataHero.powers; track $index) {
            <mat-chip>{{ pw }}</mat-chip>
          }
        </mat-chip-set>
      </mat-card-footer>
      <mat-card-content class="description">
        <p>
          {{ dataHero.description }}
        </p>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button mat-button (click)="handleAction({ type: 'edit', heroe: dataHero })">EDITAR</button>
        <button mat-button (click)="handleAction({ type: 'delete', heroe: dataHero })">BORRAR</button>
      </mat-card-actions>
    </mat-card>
  </section>
</main>
